#cookiePopup + #cookiebtn {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#cookiebtn {
	display: none;
}

#cookiebtn:checked + #cookiePopup {
	bottom: -100%;
}

label {
	display: inline-block;
	padding: 0.3em;
	background: #AAAAAA;
}

label:hover {
	background: #444444;
	cursor: pointer;
}

#cookiePopup {
	position: fixed;
	bottom: 0;
	padding: 2em;
	width: 100%;
	text-align: center;
	color: #FFFFFF;
	background-color:#000000;
	background-repeat: no-repeat;
	background-size: contain;
	transition: 1s ease;
	-webkit-transition: 1s ease;
	-moz-transition: 1s ease;
	z-index: +1;
}